@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.loginWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  padding: 20px;
  box-sizing: border-box;
}

.loginBox {
  background: #4F46E5;
  color: white;
  padding: 40px 32px;
  border-radius: 16px;
  box-shadow: 0 2px 24px 0 rgba(79, 70, 229, 0.06);
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-family: "Montserrat", sans-serif;
}

.logo {
  width: 200px;
  height: auto;
  align-self: center;
}

h3 {
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.inputContainer {
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  z-index: 1;
}

.inputField {
  width: 100%;
  height: 44px;
  border: 2px solid white;
  border-radius: 12px;
  padding: 10px 12px 10px 45px;
  font-size: 1rem;
  background: none;
  color: white;
  outline: none;
  box-sizing: border-box;
}

.inputField::placeholder {
  color: rgb(183, 183, 183);
}

.error {
  color: #e53935;
  background: #ffebee;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 0.98rem;
  text-align: center;
}

.loginBtn {
  background: var(--color-primary);
  color: #fff;
  border: white solid 2px;
  border-radius: 12px;
  font-size: 1.09rem;
  font-weight: 600;
  padding: 10px 22px;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
  margin-top: 10px;
}

.loginBtn:hover {
  background: #3631c9;
}

.registerLink {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.registerLink p {
  color: white;
  font-size: 13px;
  margin: 0;
}

@media (max-width: 480px) {
  .loginBox {
    padding: 30px 20px;
  }
  
  .logo {
    width: 160px;
  }
  
  h3 {
    font-size: 15px;
  }
  
  .inputField {
    height: 40px;
    font-size: 0.9rem;
  }
  
  .loginBtn {
    font-size: 1rem;
    padding: 8px 20px;
  }
}